
<div class="container">
	<div class="col-md-12 row">
        <div class="col-md-3"></div>
		<div class="col-sm-6">
            <label>E-mail</label>
		    <div class="form-group"> 
                <input type="email" name="email" [(ngModel)]="Email" class="form-control" placeholder="Enter Email"> 
                <br>
                <button *ngIf="ConfirmPassword" type="button" class="btn btn-outline-secondary"  (click)="onSelectEmail(Email)">Submit</button>
            </div> 
            <div *ngIf="showpassword"  >
                <div  class="form-group pass_show"> 
                    <label>New Password</label>
                    <input type="password" id="password" [(ngModel)]="password" name="new password" class="form-control" placeholder="New Password"> 
                </div> <br>
                <button type="button" class="btn btn-outline-primary" (click)="SaveChanges()">Change</button>
            </div>
		</div>          
	</div>
</div>