<br>
<h1 style="text-align: center;">Manuscript Content</h1>

<br>
<form>
    <div class="col-md-12 row">
        <div class="col-md-4 row"></div>
        <div class="col-md-5 row">
            <label><b>Enter the Manuscript Content:</b></label><br>
        
            <textarea type="text" class="form-control" name="manuscript" [(ngModel)]="manuscriptcontent" placeholder="please enter here"></textarea>
        
            <br><br>
        
        <div class="col-md-12 row">
            <div class="col-md-6 row"></div>
            <div class="col-md-5 row">
                <button *ngIf = "save" class="btn btn-primary" (click)="savemanuscriptcontent()">save</button> &nbsp;
                <button *ngIf = "edit" class="btn" style="background-color: rgb(219, 59, 0);" (click)="Editmanuscriptcontent()">Edit</button>  
            </div>
        </div>
        </div>
        </div>
        <br>
        
        <table class="table container">
        
            <tr>
                <th>Sl No.</th>
                <th>Manuscript Name</th>
                <th>Created On</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

        <tr *ngFor="let manuscript of manuscriptcontentList;index as i">
            <td>{{i+1}}</td>
            <td>{{manuscript.manuscriptName}}</td>
            <td>{{manuscript.createdOn}}</td>
            <td><button class="btn btn-primary" (click)="updateRow(manuscript)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="Deletemanuscriptcontent(manuscript.manuscriptID)">Delete</button></td>
        
        </tr>
</table>