         <nav class="navbar">
            <div class="col-md-12 row">
                <div class="col-md-2">
          <img src="assets/Group 3LOGO.png " alt="logo" style="width: 48%;"></div> 
          
          <div class="col-md-3"></div>
        <div class="col-md-4"><br><br> <img src="assets/journal title.png" alt="Paris" style="width: 100%;" ></div> 
        <div class="col-md-3"></div>
        </div>
         </nav>

      
        <div class="topnav">
          <a href="/home">Home</a>
          <a href="#about">About</a>
          <a href="/footer">Contact</a>
         
          
           <ng-container *ngIf="IsLoggedIn">
            <a *ngIf="RoleID == 2006 || RoleID == 2006" [routerLink]="['/register']">Register</a>
              <a *ngIf="RoleID == 2005 || RoleID == 2006" [routerLink]="['/manuscriptsubmission']">Submit Manuscript</a>
              <a *ngIf="RoleID == 2005" [routerLink]="['/authordashboard']">Dashboard</a>
              <a *ngIf="RoleID == 2007" [routerLink]="['/editordashboard']">Dashboard</a>
              <a *ngIf="RoleID == 2008" [routerLink]="['/reviewerdashboard']">Dashboard</a>
              <a (click)="logout()">Logout</a>
              <a href="#">{{userName}}</a>
              <a *ngIf="RoleID == 2">
                  <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" style="color: rgb(247, 239, 239);">
                      Masters
                  </button>
                  <div class="dropdown-menu">
                      <a style="color: black;" class="dropdown-item" [routerLink]="['/subjectcontent']">Subject Content</a>
                      <a style="color: black;" class="dropdown-item" [routerLink]="['/typeOfContentMaster']">Type of Manuscript Content</a>
                      <a style="color: black;" class="dropdown-item" [routerLink]="['/rolecomponent']">Role Master</a>
                  </div>
                </a>
              
          </ng-container> 
      
           <a *ngIf="!IsLoggedIn" [routerLink]="['/login']">Login</a>
           <a *ngIf="!IsLoggedIn" [routerLink]="['/register']">Register</a>
      </div> 
       
      