<!DOCTYPE html>
<html lang="en">

<body>
  
  <section id="services" class="services section-bg">
    <div class="container ">

      <div class="section-title" data-aos="fade-up">
        <div style="text-align: center;"> <br><br>
          <h2>PUBLICATION PROCEDURE</h2>
        </div><br><br>

        <div style="text-align: center;">
          <p> FOLLOW THIS STEP AND PUBLISH YOUR RESEARCH PAPER WITHIN 1 TO 2 DAY</p>
        </div><br><br>
      </div>
    </div>
  </section>

  <html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
  </head>

  <body>

    <div class="row">
      <div class="column">
        <div class="card">
          <h4 class="title"><a [routerLink]="['/manuscriptsubmission']">Submit Paper Online</a></h4>
          <p class="description">Step 1 : Download IWWA Paper Format and Submission of Manuscript/Paper through Submit
            Paper online.</p>
        </div></div>

      <div class="column">
        <div class="card">
          <h4 class="title"><a href="">Peer Review Process</a></h4>
          <p class="description">Step 2 : Peer Review of Your Paper within 2 Days. </p>
          
        </div>
      </div>


      <div class="column">
        <div class="card">
          <h4 class="title"><a href="">Approve</a></h4>
          <p class="description">Step 3 : You will get your Acceptance OR Rejection Notification </p>

        </div>
      </div>


      <div class="column">
        <div class="card">
          <h4 class="title"><a href="">Paper Published</a></h4>
          <p class="description">Step 4 : After Submission of necessary Documents paper will be published within 1 to 2 days</p>
         
        </div><br>

      </div>

    </div>
  </body>

  </html><br> <br>
  <!-- <section   class="contentsubmit">
<div  class="justify-content-center">
  <a href="submitManuscript.php" class="btn-get-started"><b>SUBMIT</b> </a>
</div>
</section> -->

  <section id="about" class="about section-bg">
    <div class="container">

      <div style="text-align: center;" class="section-title">
        <h2>About Us</h2>
        <p>Indian Water works Association Journal ISSN : 2456-4184 | Mail id: editor@iwwa.org
        </p>
      </div>
    </div>
  </section><br>

  <section class="content">

    <h4 class="title"><a href="">IWWA</a></h4>
    <p class="description">IWWA was founded in 1968 with headquarters in Mumbai. It is a voluntary body of professionals
      concerned and connected with water supply for municipal, industrial, agricultural uses and treatment and disposal
      of wastewater. IWWA focuses basically on the entire Water Cycle" encompassing the environmental, social,
      institutional, and financing issues. IWWA has 35 Centres spread across the manuscript and is very active in
      conducting different activities in the areas of Water Supply and Wasterwater Treatment and Disposal. IWWA has a
      membership of more than over 21000 professionals spread all over the manuscript and abroad.
  </section>
  <br>

  <section class="content">

    <h4 class="title"><a href="">Subject Category</a></h4>
    <p class="description">Multidisciplinary,Monthly and Multilanguage (Regional language supported)</p>

  </section>
  <br>

  <section class="content">
 
    <h4 class="title"><a href="">Indexing</a></h4>
    <p class="description"> Indexing in American water works association, Japan water works association ,Global water
      works parternership</p>
  </section>
  <br>

  <section class="content">

    <h4 class="title"><a href="">Publication Guidelines</a></h4>
    <p class="description"> Follow IWWA Guidelines.Follow Iwwa Journal Guidelines.Valid as per new IWWA regulations/p>

  </section>
  <br>


  <section id="portfolio" class="about section-bg">
    <div style="text-align :center;" class="container">

      <div class="section-title" style="padding-bottom:0px">
        <h2>QUICK LINKS</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
      </div><br>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon" style=" margin: 0 auto 0px auto"><i class="bi bi-file-earmark-arrow-up"></i></div>
            <h4 class="title" style="margin-top:12px"><a href="https://www.iWWA.org/submitpaper.php">Submit Paper
                Online</a></h4>
            <!--<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>-->
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="icon" style=" margin: 0 auto 0px auto"><i class="bi bi-file-earmark-arrow-up"></i></div>
            <h4 class="title" style="margin-top:12px"><a href="https://www.iWWA.org/submitpaper.php">Publication
                Guidelines</a></h4>
            <!--<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>-->
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon" style=" margin: 0 auto 0px auto"><i class="bi bi-file-earmark-arrow-up"></i></div>
            <h4 class="title" style="margin-top:12px"><a href="https://www.iWWA.org/submitpaper.php">Call for Paper</a>
            </h4>
            <!--<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>-->
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon" style=" margin: 0 auto 0px auto"><i class="bi bi-file-earmark-arrow-up"></i></div>
            <h4 class="title" style="margin-top:12px"><a href="https://www.iWWA.org/submitpaper.php">Check Paper
                Status</a></h4>
            <!--<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>-->
          </div>
        </div>
      </div><br><br>


      <div class="section-title">
        <div style="text-align: center;">
          <h2><b>Frequently Asked Questions</b></h2><br>
        </div>
      </div>
      <div>
      <section class="content">
       
        <select id="selectstatus" style="width: 100%;">
        <option value="accepted">HOW DO I SUBMIT MY ARTICLE?</option>
        <option value="for review">If your article accepted by our editorial committee, you have to pay publication charges and submit the required document by single mail to editor@iWWA.org .</option>
         
        </select>
       
    
    </section></div>
      <section class="content"><div>
        <select id="selectstatus" style="width: 100%;">
          <option value="accepted"> HOW MUCH TIME TO TAKE PUBLISH THE SINGLE RESEARCH PAPER?</option>
          <option value="for review">Once the author submit the paper to IWWA,will receive notification for submission of paper within 1-2 days.Entire process for paper publishing take 2 to 3 days.</option>
         
          </select></div>
      </section>
      
       


     
     
      <section class="content"><div>
        <select id="selectstatus" style="width: 100%;">
          <option value="accepted"   >WHAT HAPPENS AFTER MY ARTICLE HAS BEEN ACCEPTED? </option>
          <option value="for review" >If your article accepted by our editorial committee, you have to pay publication charges and submit the required document by single mail to editor@iWWA.org .     </option>
         
          </select></div>
      </section>
   
      <br>


      <section id="clients" class="clients">

        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <!--<h2>Our Clients</h2>-->
            <div style="text-align: center;">
              <h2><b>LICENCE AND INDEXING</b></h2>
            </div>


            <div data-aos="zoom-out" data-aos-delay="200">
              <img src="assets/img/major-indexing.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </section><br> <br> <br>

      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="image-container">
            <div class="swiper-slide"><img src="assets/licence.png" class="img-fluid" alt=""></div>


          </div>
        </div><br><br>

        <section id="contact" class="contact">
          <div class="container" data-aos="fade-up">