

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author's Dashboard</title>
   
</head>
<body>
    <header>
        <!-- Header content -->
    </header>

    <main>
        <section class="article-list">
            <div style="text-align: center;">
            <!-- Content above the table goes here -->
            <h2>Author's Dashboard</h2>
        </div>
            <table>
                <thead>
                    <tr>
                        <th>Author Name</th>
                        <th>Subject</th>
                        <th>Title</th>
                        <th>ManuscriptType</th>
                        <th>Abstract</th>
                        <th>Plagiarism Report </th>                      
                        <th> Author Undertaking Form</th>
                        <th>Manuscript Type</th>
                        <th>Manuscript</th>
                        <th>RegisterID</th>
                    

                    </tr>
                </thead>
                <tbody>
                    








<tr *ngFor="let manuscriptcontentList of manuscriptcontentList;index as i">
  
  
    <td>{{ manuscriptcontentList.autorName}}</td>
    <td>{{ manuscriptcontentList.subject}}</td>
    <td>{{ manuscriptcontentList.title}}</td>
    <td>{{ manuscriptcontentList.manuscriptType}}</td>
    <td>{{ manuscriptcontentList.abstract}}</td>
    <td>{{ manuscriptcontentList.plagiarismurl}}</td>
    <td>{{ manuscriptcontentList.undertakingdocurl}}</td>
  <td>{{ manuscriptcontentList.manuscriptType}}</td>
    <td>{{ manuscriptcontentList.manuscriptPDF}}</td>
   
          <td>{{manuscriptcontentList.registerID}}</td>









          

       
       
        
                
       
        <!-- Add more rows as needed -->
</tr></tbody>









</table>


</section>


</main>

</body>
</html>
