<!-- <div class="row">
    <div class="row">
        <h4>USEFULL LINKS</h4><br>
            <a href="https://www.iwwa.org/track.php">Check Paper Status</a><br>
             <a href="https://www.iwwa.org/Disclaimer.php">Disclaimer</a><br>
             <a href="https://www.iwwa.org/copyright.php">Copyright Infrigement Claims</a><br>
            <a href="https://www.iwwa.org/impactfactor.php">Impact Factor Calculation</a><br>
          
    </div>
    <div class="row" >
        <h4>OUR SERVICES</h4><br>
            <a href="https://www.iwwa.org/track.php">Check Paper Status</a><br>
             <a href="https://www.iwwa.org/Disclaimer.php">Disclaimer</a><br>
             <a href="https://www.iwwa.org/copyright.php">Copyright Infrigement Claims</a><br>
            <a href="https://www.iwwa.org/impactfactor.php">Impact Factor Calculation</a><br>
          
    </div>

    
    <div class="row" >
    
        <h4>CONTACT US</h4><br>
        MCGM Compound,Pipeline Road,<br>
         Vakola, Santacruz (East), Maharashtra,<br>
          India, 400055 <br>
        <strong>Email:</strong> http://iwwahq@gmail.com<br>
      <br> 
      <div class="g-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.573111212033!2d72.85177541479526!3d19.082497756727275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8ff87ca7f4f%3A0xe6f7acc6a9732cbe!2sIndian%20Water%20Works%20Association!5e0!3m2!1sen!2sin!4v1663159222542!5m2!1sen!2sin"
            style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
</div>
    <div class="container">
      <div class="copyright">
         Copyright  &copy; 2023 <strong><span>IWWA JOURNAL</span></strong>. All Rights Reserved
      </div>
       
    </div> -->














    <footer class="footer">
    <div class="container my-5">

      <!-- Footer -->
      <footer
              class="text-center text-lg-start text-white"
              style="background-color: #1c2331" 
                                                   >
       
    
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold">IWWA JOURNAL</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  IWWA was founded in 1968 with headquarters in Mumbai. 
                  IWWA has a membership of more than over 21000 professionals spread all over the manuscript and abroad.
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Usefull Links</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  <a href="/home" class="text-white">Home</a>
                </p>
                <p>
                  <a href="/aboutus" class="text-white">About Us</a>
                </p>
                <p>
                  <a href="/manuscriptsubmission" class="text-white">Submit Paper</a>
                </p>
                <p>
                  <a href="/manuscriptsubmission" class="text-white">Call for Paper</a>
                </p>
                <p>
                  <a href="/journalpolicy" class="text-white">All journal policy</a>
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Our Services</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p>
                  <a href="/reviewsubmission" class="text-white">Check Paper Status</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Disclaimer</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Copyright Infrigement Claims</a>
                </p>
                <p>
                  <a href="#!" class="text-white">Help</a>
                </p>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Contact Us</h6>
                <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                <p><i class="fas fa-home mr-3"></i>MCGM Compound,Pipeline Road,</p>
                <p><i class="fas fa-home mr-3"></i>Vakola, Santacruz (East), Maharashtra,</p>
                <p><i class="fas fa-envelope mr-3"></i> iwwahq@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> +91-22-26672665</p>
                <div class="g-map">
                  <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.573111212033!2d72.85177541479526!3d19.082497756727275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8ff87ca7f4f%3A0xe6f7acc6a9732cbe!2sIndian%20Water%20Works%20Association!5e0!3m2!1sen!2sin!4v1663159222542!5m2!1sen!2sin"
                      style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
               
                
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section><br><br><br>
        <!-- Section: Links  -->
    
        <!-- Copyright -->
        <footer class="site-info" aria-label="Site"  itemtype="https://schema.org/WPFooter" itemscope>
          <div class="inside-site-info grid-container grid-parent">
                    <div class="copyright-bar"     style="background-color: #303133">
                      <div style="text-align: center;">
                    © 2023 Copyright:IWWA JOURNAL. All Rights Reserved		</div></div>
          </div>
        </footer>
       
       
      </footer>
      <!-- Footer -->
    
    </div>
    <!-- End of .container --></footer>