<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div style="background-color: #91c8f5" class="container mt-5">
      
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="font-size: larger;" for="fullName">Full Name:</label>
                        <input type="text" class="form-control" id="FullName" [(ngModel)]="FullName" required>
                    </div>
                    <div class="form-group">
                        <label style="font-size: larger;" for="Phone">Phone:</label>
                        <input type="number" class="form-control" id="Phone" [(ngModel)]="Phone" required>
                    </div>
                    <div class="form-group">
                        <label style="font-size: larger;"  for="Email">Email:</label>
                        <input type="email" class="form-control" id="Email" [(ngModel)]="Email" required>
                    </div>
                    <div class="form-group">
                        <label style="font-size: larger;"  for="Profession">Profession:</label>
                        <input type="text" class="form-control" id="Profession" [(ngModel)]="Profession" required>
                       
                       
                       
                      
                    </div>


                  
                    <div  *ngIf="IsLoggedIn" class="form-group">
                        <label for="Role">Role Name:</label>
                        <select (change)="onselectrole($event)" class="form-control">
                            <option>Select An Option</option>
                            <option *ngFor="let data of roleList" [value]="data.roleID">{{ data.roleName }}
                            </option>
                        </select>
                    </div>
                      
                 


                    <div class="form-group">
                        <label style="font-size: larger;"  for="Organisation">Organisation:</label>
                        <input type="text" class="form-control" id="Organisation" [(ngModel)]="Organisation">

       
                            </div>
                           
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="College">College:</label>
                                <input type="text" class="form-control" id="College" [(ngModel)]="College">
                            </div>
                            <div class="form-group">
                                <label for="PostalAddress">Postal Address:</label>
                                <textarea class="form-control" id="PostalAddress"
                                    [(ngModel)]="PostalAddress"></textarea>
                            </div>


                            <div class="form-group">
                                <label for="Area">Lane/ Area:</label>
                                <input type="text" class="form-control" id="Area" [(ngModel)]="Area">
                            </div>
                            <div class="form-group">
                                <label for="City">City:</label>
                                <input type="text" class="form-control" id="City" [(ngModel)]="City" required>
                            </div>
                            <div class="form-group">
                                <label for="State">State:</label>
                                <input type="text" class="form-control" id="State" [(ngModel)]="State" required>
                            </div>
                            <div class="form-group">
                                <label for="Pincode">Pincode:</label>
                                <input type="number" class="form-control" id="Pincode" [(ngModel)]="Pincode" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Password">Password:</label>
                                <input type="password" class="form-control" id="Password" [(ngModel)]="Password">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ConfirmPassword">Confirm Password:</label>
                                <input type="password" class="form-control" id="ConfirmPassword"
                                    [(ngModel)]="ConfirmPassword">
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary" (click)="registerregistration()">Register</button>
                    </div>
                </div>
            
        
    
